<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Windows Channel</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>

    <nav class="navbar" id="top-menu">
                    <div class="main_Section">
                        <div class="row">
                        <div class="col-md-5">
                                <img src="../static/images/imbanaco.png"">
                            </div>
                        </div>
                    </div>
                </nav>

    <div class="channels">
      <div class="content-channels">
        <div class="content-channel">
          <h3>Imbanaco TV</h3>
          <div class="content-image">
            <img src="../static/images/logoWC.png" alt="">
          </div>
          <a href = '/?switchChannel=1' class="main-button"> Seleccionar </a>
        </div>

        <div class="content-channel">
          <h3>UNE</h3>
          <div class="content-image">
            <img src="../static/images/une.png" alt="">
          </div>
          <input type = "text" id="channel-une"> Canal </input>
         <a href = "/?switchChannel=1" class="main-button"> Seleccionar </a>
        </div>

      </div>

      <div class="content-channels">
        <div class="content-channel">
          <h3>Canal Actual</h3>
          <div class="content-image">
            <img src="{{imagenesupo}}" alt="imageCanal">
          </div>
          <h3>{{Signal}}</h3>
          <h3>{{Canal}}</h3>
          <h3>{{info}}</h3>
        </div>

      </div>



    </div>



  </body>

</html>
